<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <form action="/genres/new" method="POST">
      <p><label for="name">New genre:</label></p>
      <input type="text" id="name" name="name" required />

      <button type="submit">Add</button>
    </form>
    <br />
    <%- include('../partials/goBack') %>

    <!-- <%- include('../partials/footer') %> -->
  </body>
</html>
