<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <p>Page not found</p>

    <a href="/" class="font-semibold text-blue-500 hover:underline"
      >Go to Home Page</a
    >
    <!-- <%- include('partials/footer') %> -->
  </body>
</html>
