<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <h1 class="">Games Inventory</h1>

    <ul>
      <li><a href="/">Games</a></li>
      <li><a href="/genres">Genres</a></li>
      <li><a href="/platforms">Platforms</a></li>
    </ul>

    <br />

    <ul>
      <% games.forEach(game => { %>
      <li><%= game.title %></li>
      <% }) %>
    </ul>

    <!-- <%- include('partials/footer') %> -->
  </body>
</html>
