<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <p>All platforms:</p>

    <ul>
      <% platforms.forEach(platform => { %>
      <li><%= platform.name %></li>
      <% }) %>
    </ul>

    <!-- <%- include('partials/footer') %> -->
  </body>
</html>
