<header>
  <h1 class="">Games Inventory</h1>
  <button type="button">Search</button>
</header>

<ul>
  <li><a href="/">Games</a></li>
  <li><a href="/genres">Genres</a></li>
  <li><a href="/platforms">Platforms</a></li>
</ul>
